body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.PaiLogin a {

    color: #333;
    text-decoration: none;
    transition: 0.5s;

}

.PaiLogin a:hover {

    color: #007BFF;

}



.PaiLogin {

    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.FilhoLogin h1 {
    text-align: center;
    margin-bottom: 20px;
}

.FilhoLogin form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.FilhoLogin label {
    margin-bottom: 5px;
    font-weight: 700;
}

.FilhoLogin input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.botao {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #002fc9;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #0056b3;
}

.FilhoLogin p {
    text-align: center;
    margin-top: 20px;
    color: #002fc9;
}

.FilhoLogin p a {
    color: #002fc9;
    text-decoration: none;
    font-weight: 700;
}
