@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
  }


a{
    text-decoration: none;
    color: var(--creme);
}

:root {
    --azul-escuro: #1F304E;
    --azul-mediano: #5371FA;
    --azul-claro: #6595F2;
    --creme: #fcfbfb;
    --creme-escururo: #F4EFEC
}


body {
    margin: 0;
    padding: 0;
    font-family: "Barlow Condensed", system-ui;
    background-color: #fcfbfb;
}

/*NAVBAR*/

#navbar {
    width: 100%;
    height: 9vh;
    background-color: #1F304E;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#sidebar {
    display: none;
}

#div_logo_navbar {
    width: 9vw;
    margin-left: 3vw;
    margin-top: 6px;
}

#logo_navbar {
    object-fit: contain;
    width: 7rem;
}

#div_content_navbar {
    width: 50vw;
    height: 9vh;
    gap: 5vw;
    margin-top: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: #fcfbfb;
    font-size: 17px;
    font-weight: 500;
}

#ul_navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style-type: none;
}

.menu_hamburguer {
    align-self: center;
    display: none;
}

.menu_hamburguer>img {
    width: 40px;
    height: 40px;
}

.li_navbar {
    cursor: pointer;
    transition: 0.2s;
}

.li_navbar:hover {
    transform: scale(1.05);
}

.btn_login {
    width: 7vw;
    height: 5vh;

    font-family: "Barlow Condensed", system-ui;
    font-size: 17px;
    color: #1F304E;
    font-weight: 600;

    border-radius: 8px;
    border: none;
    background-color: #fcfbfb;

    cursor: pointer;
    transition: 0.2s;
}

.btn_login:hover {
    transform: scale(1.05);
}

/*SESSÃO 1*/

#introduction_main {
    /* background-color: red; */
    width: 100%;
    margin-top: 2vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #1F304E;
}

#section_title {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.title {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin: 20px;
}

.subtitle {
    font-size: 35px;
    font-weight: 500;

    text-align: center;
    margin: 20px;
}

#btn_section_title {
    /* background-color: purple; */
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;

    align-items: center;
}

.btn_second_action {
   
    background-color: transparent;
    color: #1F304E;

    border: 2px solid #1F304E;
    border-radius: 8px;
    height: 6vh;
    width: 200px;

    font-family: "Barlow condensed", system-ui;
    font-size: 18px;
    font-weight: 600;

    transition: 0.2s;
    cursor: pointer;
}

.btn_second_action:hover {
    transform: scale(1.05);
    background-color: #1F304E;
    color: #fcfbfb;
}

.video{
    margin-top: 30px;
    width: 900px;
}

/*SESSÃO 2*/

#section_renewable_energy_texts {
    text-align: center;
    justify-content: center;
}

.energy_title {
    font-size: 2.625rem;
    margin: 2vh;
    margin-top: 5vh;
}

.energy_description {
    font-size: 28px;
    text-align: center;
    margin: 30px;
}

.container_cards {
    display: flex;

    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cards {
    background-color: #ffffff;
    min-width: 302px;
    height: 200px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px 10px;

    border: 1px solid rgb(31, 48, 78, 0.3);
}

.cards > img{
    width: 60px;
}

.card_title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
}

.card_description {
    font-size: 16px;
    font-weight: 200;
    margin: 20px;
}

/*SESSÃO 3*/

#comparison_main {
    /* background-color: rebeccapurple; */
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #1F304E;
}

#comparison_section {
    /* background-color: blue; */
    width: 100%;
    gap: 50px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.comparison_title {
    margin-bottom: 30px;
    font-weight: 700;

    text-align: center;

}

.comparison_cards {
    background-color: #ffffff;
    border: 1px solid rgb(31, 48, 78, 0.3);
    width: 35rem;
    height: 25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comparison_span {
    display: flex;
    flex-direction: column;
}

.comparison_cards_title {
    font-size: 1.500rem;
    font-weight: 700;
}

.comparison_text {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;

    font-size: 22px
}

.author_comparison {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50%;
}

.author_name {
    margin: 0;
}

.user_img {
    object-fit: contain;
    width: 50px;
}

/*SESSÃO 4*/

#team_main {
    /* background-color: red; */
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #1F304E;

    margin: 30px 0 60px 0;
}

.pictures_and_names {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;

    flex-wrap: wrap;
    margin-bottom: 20px;
}

.member_image {
    object-fit: contain;
    width: 12.5rem;
    margin-bottom: 10px;

}

.div_member {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.class_name {
    font-size: 20px;
    font-weight: 600;
    margin: 0;

}

.class_function {
    font-size: 17px;
    margin: 0;

}

.contact_logos img {
    object-fit: contain;
    width: 35px;

    cursor: pointer;
    transition: 0.2s;
}

.img_contact:hover {
    transform: scale(1.2);
}

.contact_btn {
    font-family: "Barlow Condensed", system-ui;
    font-weight: 600;
    color: #1F304E;

    background-color: transparent;
    border: 2px solid #1F304E;
    border-radius: 4px;

    width: 150px;
    height: 3.5vh;

    cursor: pointer;
    transition: 0.2s;
}

.contact_btn:hover {
    background-color: #1F304E;
    color: #fcfbfb;
}

/*FORM*/
#form_section {
    background-color: #1F304E;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F304E;
}

#form_div_background{
    background-color: #fcfbfb;
    height: 80%;
    width: 40%;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    margin: 30px 0
}

.title_form{
    font-size: 30px;
    font-weight: bold;
    margin-top: 5vh;

}

.subtitle_form{
    font-size: 22px;

    margin: 5px 20px;
}

#form_div_inputs{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-top: 20px;
}

.input_form{
    height: 4vh;
    width: 20vw;
    
    border: none;
    border-bottom: 1px solid #d3d3d3;
    background-color: #f9f9f8;
    margin-bottom: 10px;

    font-family: "Barlow Condensed", system-ui;

    outline: none;


}

.form_btn{
    margin: 10px 0;
    background-color: #1F304E;
    color: #fcfbfb;
    font-family: "Barlow Condensed", system-ui;
    border: none;
    width: 10vw;
    height: 4vh;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.2s;
    cursor: pointer;
}

.form_btn:hover {
    transform: scale(1.05);
}


/*FOOTER*/
#footer {
    background-color: #1F304E;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #fcfbfb;
    
}

.img_footer{
    object-fit: contain;
    width: 30px;
    transition: 0.2s;
}

.img_footer:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.contact_footer{
    display: flex;
    justify-content: start;
    width: 15%;
    gap: 1rem;
}

#footer > p {
    margin-left: 100px;
}

@media (max-width: 1024px) {
    #div_content_navbar {
        display: none;
    }

    .menu_hamburguer {
        display: block;
        cursor: pointer;

        z-index: 1000;
    }

    #sidebar {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        background-color: #1F304E;
        color: white;
        transition: right 0.3s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }

    #ul_navbar {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style-type: none;
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .btn_login {
        margin-top: 20px;
        width: 60%;
        height: auto;
    }

    .btn_primary_action{
        display: block;
    }

    #sidebar.active {
        right: 0;
    }

    #team_main{
        margin: 0;
        padding: 0;
        flex-direction: column
    }

    .video{
        width: 700px;
    }


}

@media (max-width: 800px) {
    .comparison_cards{
        margin: 0 45px;
        height: 30rem;
    }

    #footer{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        
    }

    #footer > p {
        margin-left: 0;

        margin-top: 40px;
    }

    .contact_footer{
        margin-bottom: 10px;
        justify-content: center;
    }

    .video{
        width: 600px;
    }

    .pictures_and_names{
        margin-bottom: 20px;
    }

    #form_div_background{
        height: 100%;
        width: 50%;
        margin-top: 30px;
    }

    .input_name_form{
        width: 40vw;
    }

    .input_form{
        width: 30vw;
    
    }

}

@media (max-width: 600px) {
    .video{
        width: 400px;
    }

    .form_btn{
        width: 20vw;
    }
}

@media (max-width: 460px) {
   
    .btn_primary_action, .btn_second_action{
        width: 150px;
        margin: 10px 0;
        flex-wrap: wrap;
     }
 
     #btn_section_title{
         flex-wrap: wrap;
         width: 250px;
     }
 
 
     .video{
         width: 300px;
     }
}

@media (max-width: 380px) {
     .video{
         display: none;
     }

     .comparison_cards{
        height: 50rem;
    }

    #form_div_background{
        height: 120%;
        width: 50%;
        margin-top: 30px;
    }

    .input_name_form{
        width: 40vw;
    }
}


*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #fcfbfb;
}

*::-webkit-scrollbar-track:hover {
    background-color: #fcfbfb;
}

*::-webkit-scrollbar-track:active {
    background-color: #fcfbfb;
}

*::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: #1F304E;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #2B436D;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #2B436D;
}